<div >
  <div >
    <h5 class="text-danger">{{tema.nombre}} Nivel: {{tema.nivel}}</h5>
  </div>
  <div *ngFor="let tarea of tarEst;let i=index;" class="materias">
    <h5>Tarea: {{tareas[i].nombre}}</h5>
    <md-input-container class="inputMat">
      <input type="number" mdInput [(ngModel)]="tarea.calificacion" name="calificacion" placeholder="Calificacion" required min="1" max="10">
    </md-input-container>
    <button md-raised-button (click)="actualizar(tarea)" type="button" color="primary">Cambiar</button>
  </div>
</div>
