.botones{
  width: 25%;
  justify-content: center;
}
.seleccion{
  text-align: center;
}
.inputMed{
  width: 25%;
  margin-right: 35px;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}
.inputMat{
  width: 25%;
  margin-right: 35px;
  display: block;
  margin-top: 30px;
}
.materias{
  margin-left: 260px;
}
.usuario{
  margin-left: 260px;
}
