<div>
  <h4>Catálogo de Estudiantes.</h4>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th >ID</th>
      <th >Nombre</th>
      <th >Promedio Global</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let es of estudiantes" class="renglonTabla" (click)="selectEstudiante(es)">
      <td>{{es.id}}</td>
      <td>{{es.nombre}}</td>
      <td>{{es.promedioGlobal}}</td>
    </tr>
  </tbody>

</table>
{{materias.length}} {{materias}}
<div *ngFor="let mat of materias">
  <len-res-materias [materia]="mat" [idUser]="selected.id"></len-res-materias>
</div>
