<button  *ngIf="selected" md-raised-button class="boton" (click)="selected=null;" color="primary">Catálogo de Estudiantes</button>
<div *ngIf="!selected">
  <div>
    <h4>Catálogo de Estudiantes.</h4>
  </div>
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th >ID</th>
        <th >Nombre</th>
        <th >Promedio Global</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let es of estudiantes" class="renglonTabla" (click)="selectEstudiante(es)">
        <td>{{es.id}}</td>
        <td>{{es.nombre}}</td>
        <td>{{es.promedioGlobal}}</td>
      </tr>
    </tbody>

  </table>
</div>
<div *ngIf="selected">
  <h3>Materias cursadas por {{selected.nombre}}</h3>
  <h4 class="text-muted">Promedio Global: {{selected.promedioGlobal}}</h4>
  <hr>
  <div *ngFor="let mat of materias">
    <len-res-materias [materia]="mat" [idUser]="selected.id"></len-res-materias>
    <hr>
  </div>
  <div *ngIf="materias.length===0">
    <h4>Este usuario no tiene materias registradas.</h4>
  </div>
</div>
