.inputMat{
  width: 25%;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.inputSpec{
  width: 10%;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 0px;
}
.materias{
  margin-left: 260px;
}
